/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #222;
    color: #fff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* Hero section */
  #hero {
  /* background-image: url('https://via.placeholder.com/1200x600'); */
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: relative; /* Add position relative to the hero section */
}

#hero .avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 20%; /* Add top position of 50% */
  left: 50%; /* Add left position of 50% */
  transform: translate(-50%, -50%); /* Add transform to center the avatar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#hero .avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

  
  
  #hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  /* About section */
  #about {
    padding: 4rem 2rem;
    /* height: 100vh; */
  }
  
  #about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  #about p {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  /* Social */
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    background-color: #333;
    color: #fff;
  }

  /* Skills section */
  #skills {
    background-color: #222;
    padding: 2rem;
  }
  
  .section-title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 50px;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .skill {
    width: 30%;
    margin-bottom: 50px;
    background-color: #2f2f2f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
  }
  
  .skill-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
  
  .skill-list li {
    margin-bottom: 5px;
    background-color: #2f2f2f;
  }
  .skill-list li img {
    width: 20px;
    margin-right: 10px;
    overflow: hidden;
  }
  
  /* Portfolio section */
  #portfolio {
    padding: 4rem 2rem;
  }
  
  #portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .project {
    background-color: #333;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .project img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .project p {
    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  
  /* Contact section */
  #contact {
    padding: 4rem 2rem;
  }
  
  #contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  form label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: none;
  }
  
  form textarea {
    height: 10rem;
  }
  
  form button[type="submit"] {
    background-color: #fff;
    color: #222;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #ccc;
  }